@media only screen and (max-width: 576px) {
  .words-list-table {
    thead, tbody {
      tr {
        th:nth-child(1), td:nth-child(1), th:nth-child(2), td:nth-child(2) {
          display: none;
        }
      }
    }
  }
}