<div class="container">
  <div class="mt-5">
    <h3>Add word</h3>
    <form [formGroup]="addWordForm">
      <div class="form-group">
        <label for="en-word">English word</label>
        <input type="text" class="form-control" id="en-word" name="en-word" placeholder="Enter english word" formControlName="enWord"
               [ngClass]="{'is-invalid': addWordForm.get('enWord').invalid && addWordForm.get('enWord').dirty}">
        <div class="invalid-feedback" *ngIf="addWordForm.get('enWord').invalid && addWordForm.get('enWord').dirty">
          Field is required
        </div>
      </div>
      <div class="form-group">
        <label for="ru-word">Russian word</label>
        <input type="text" class="form-control" id="ru-word" name="ru-word" placeholder="Enter russian word" formControlName="ruWord"
               [ngClass]="{'is-invalid': addWordForm.get('ruWord').invalid && addWordForm.get('ruWord').dirty}">
        <div class="invalid-feedback" *ngIf="addWordForm.get('ruWord').invalid && addWordForm.get('ruWord').dirty">
          Field is required
        </div>
      </div>
      <button type="submit" class="btn btn-primary" (click)="addWord()" [disabled]="addWordForm.invalid">Add</button>
    </form>

  </div>

  <div class="my-5">
    <h3>Words list</h3>
    <div class="text-right mb-2">
      <button type="button" class="btn btn-danger" [disabled]="listForRemove.length === 0" (click)="removeSelectedWords()">Remove selected</button>
    </div>

    <table class="table table-hover words-list-table">
      <thead>
      <tr>
        <th>
          <input type="checkbox" name="choose-all-item" [checked]="isAllChecked" (change)="selectAll($event)">
        </th>
        <th scope="col">#</th>
        <th class="text-center" scope="col">English word</th>
        <th class="text-center" scope="col">Russian word</th>
        <th class="text-right" scope="col">Action</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of paginationViewItem; index as i">
        <th>
          <input type="checkbox" name="choose-current-item" [checked]="item.checked" (change)="selectItem($event, getCurrentIndex(i))">
        </th>
        <td>{{ (i + 1) + (currentPage - 1) * numberItemsOnPage }}</td>
        <td class="text-center">{{ item.en }}</td>
        <td class="text-center">{{ item.ru }}</td>
        <td class="text-right">
          <button type="button" class="btn btn-primary" (click)="openModal(editWordTemplate, item.en, item.ru, getCurrentIndex(i))" [disabled]="listForRemove.length > 0">Edit</button>
          <button type="button" class="btn btn-danger ml-2" [disabled]="listForRemove.length > 0" (click)="removeWord(getCurrentIndex(i))">Remove</button>
        </td>
      </tr>
      </tbody>
    </table>

    <pagination [totalItems]="modelWords.length" (pageChanged)="pageChanged($event)"></pagination>

  </div>
</div>

<ng-template #editWordTemplate>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Edit word</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="editWordForm">
      <div class="form-group">
        <label for="edit-en-word">English word</label>
        <input type="text" class="form-control" id="edit-en-word" name="edit-en-word" placeholder="Edit english word" formControlName="editEnWord"
               [ngClass]="{'is-invalid': editWordForm.get('editEnWord').invalid && editWordForm.get('editEnWord').dirty}">
        <div class="invalid-feedback" *ngIf="editWordForm.get('editEnWord').invalid && editWordForm.get('editEnWord').dirty">
          Field is required
        </div>
      </div>
      <div class="form-group">
        <label for="edit-ru-word">Russian word</label>
        <input type="text" class="form-control" id="edit-ru-word" name="edit-ru-word" placeholder="Edit russian word" formControlName="editRuWord"
               [ngClass]="{'is-invalid': editWordForm.get('editRuWord').invalid && editWordForm.get('editRuWord').dirty}">
        <div class="invalid-feedback" *ngIf="editWordForm.get('editRuWord').invalid && editWordForm.get('editRuWord').dirty">
          Field is required
        </div>
      </div>
      <div class="d-flex justify-content-center mt-4">
        <div class="w-75 d-flex justify-content-between">
          <button type="submit" class="btn btn-success" (click)="editWord()" [disabled]="editWordForm.invalid">Save</button>
          <button type="submit" class="btn btn-secondary" (click)="modalRef.hide()">Cancel</button>
        </div>
      </div>
    </form>
  </div>
</ng-template>