<div class="container">
  <div class="mt-5">
    <div *ngIf="!isTestingStart && !isTestingEnd">
      <div class="text-center">
        <button type="button" class="btn btn-primary btn-lg" (click)="startTesting()">Start testing</button>
      </div>
    </div>

    <div class="jumbotron position-relative" *ngIf="isTestingStart && !isTestingEnd">
      <div class="progress-testing">
        {{ position + 1 }}/{{ numberWordPairs }}
      </div>
      <h3 class="text-center">{{ wordListForTesting[position].en }}</h3>
      <hr class="my-4">
      <div class="d-flex justify-content-between flex-wrap">
        <button *ngFor="let a of answer" class="btn btn-info mb-1" (click)="nextWord(a)">{{ a }}</button>
      </div>
    </div>

    <div class="card text-center" *ngIf="isTestingEnd">
      <h5 class="card-header">
        Result
      </h5>
      <div class="card-body">
        <div class="card-title">Correct answers:</div>
        <h4 class="card-text mb-4">{{ correctAnswer }}</h4>
        <button class="btn btn-primary" (click)="startTesting()">Try again</button>
      </div>
    </div>

  </div>
</div>